.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@include media_min_break(sm) {
  .text-left-sm {
    text-align: left !important;
  }
  .text-right-sm {
    text-align: right !important;
  }
  .text-center-sm {
    text-align: center !important;
  }
}

@include media_min_break(md) {
  .text-left-md {
    text-align: left !important;
  }
  .text-right-md {
    text-align: right !important;
  }
  .text-center-md {
    text-align: center !important;
  }
}

@include media_min_break(lg) {
  .text-left-lg {
    text-align: left !important;
  }
  .text-right-lg {
    text-align: right !important;
  }
  .text-center-lg {
    text-align: center !important;
  }
}

@include media_min_break(xl) {
  .text-left-xl {
    text-align: left !important;
  }
  .text-right-xl {
    text-align: right !important;
  }
  .text-center-xl {
    text-align: center !important;
  }
}
