.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}
.fixed {
  position: fixed !important;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
