.btn {
  background: $water;
  border: none;
  display: inline-block;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  padding: 7px 16px;
  color: $white;
  text-decoration: none;
  &:hover,
  &:focus,
  &.focus {
    cursor: pointer;
    outline: 0;
    text-decoration: none;
  }
}
