.nav-wrapper {
  border-bottom: 1px solid $light-grey;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.nav-menu {
  width: 100%;
}

.nav-menu ul {
  list-style: none;
  overflow: hidden;
  @include media_min_break(md) {
    overflow: unset;
  }
}

.nav-menu .logo {
  text-decoration: none;
}

.nav-menu .menu {
  max-height: 0;
  transition: max-height 0.2s ease-out, padding, 0.4s ease-out;
}

.nav-menu li a {
  text-decoration: none;
}

.menu {
  flex-basis: 100%;
  margin-left: 50px;
}

.menu-icon {
  cursor: pointer;
  user-select: none;
}

.nav-menu .menu-icon .navicon {
  background: $black;
  height: 2px;
  transition: background 0.2s ease-out;
  width: 18px;
}

.nav-menu .menu-icon .navicon:before,
.nav-menu .menu-icon .navicon:after {
  background: $black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.nav-menu .menu-icon .navicon:before {
  top: 5px;
}

.nav-menu .menu-icon .navicon:after {
  top: -5px;
}

.nav-menu .menu-btn:checked ~ .menu {
  max-height: 240px;
  padding-top: 20px;
  @include media_min_break(md) {
    padding-top: 0;
  }
}

.nav-menu .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav-menu .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav-menu .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@include media_min_break(md) {
  .menu {
    flex-basis: auto;
    margin: 0;
  }
  .nav-menu li {
    float: left;
    margin: 0;
  }
  .nav-menu li a {
    padding: 0px 10px;
  }
  .nav-menu .menu {
    max-height: none;
  }
  .nav-menu .menu-icon {
    display: none;
  }
  .nav-link.active {
    .nav-text {
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
        width: 50%;
      }
    }
  }

  .nav-link {
    font-weight: 600;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .nav-text {
      margin: 0 auto;
      padding: 0;
      transition: all 0.1s ease;
      position: relative;
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: -8px;
        width: 0px;
        height: 3px;
        margin: 5px 0 0;
        transition: all 0.1s ease;
        transition-duration: 0.5s;
        opacity: 0;
        background-color: darken($black, 5%);
      }
      &.nav-text {
        &:before {
          left: 50%;
        }
        &:after {
          right: 50%;
        }
      }
    }
    &:hover {
      cursor: pointer;
      color: inherit;
      .nav-text {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
          width: 50%;
        }
      }
    }
  }
  @include media_min_break(lg) {
    .nav-menu li a {
      padding: 0 20px;
    }
  }
}
