html {
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $white;
  color: $black;
  text-rendering: optimizeLegibility;
}

section {
  background-color: $white;
}

ul,
img {
  margin: 0;
}
