html {
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $white;
  color: $black;
  text-rendering: optimizeLegibility;
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

#gatsby-focus-wrapper {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

section {
  background-color: $white;
}

ul,
img {
  margin: 0;
}

.news-link,
.news-link:visited {
  color: $water;
}
