.personell-bg {
  background-image: url(../../images/about/map-bg.svg);
}

.bg-map {
  background-image: url(../../images/about/map.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
