@font-face {
  font-family: "merriweather";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U + 000-5ff; /* Download only latin glyphs */
  src: url("https://fonts.googleapis.com/css?family=Merriweather:400&display=swap");
}

@font-face {
  font-family: "merriweather";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U + 000-5ff; /* Download only latin glyphs */
  src: url("https://fonts.googleapis.com/css?family=Merriweather:700&display=swap");
}

@font-face {
  font-family: "merriweather";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U + 000-5ff; /* Download only latin glyphs */
  src: url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");
}
