// ==========================================================================
// TYPE
// ==========================================================================
//
// A tool which uses a Sass map to calculate the line-height and font-sizes of
// particular type families.
//
// The functions beneath allow us to create a typographic scale in a Sass map
// instead of using magic numbers and hard-to-remember variable names.
//

// 1.TYPE FUNCTION
// ==========================================================================

@function _fontset-feature($property, $size-name) {
  // get the values for the size in $nobel-font-map list: 'large/small', etc
  $size-values: map-get($nobel-font-map, $size-name);
  // get the value for the property we want inside 'large/small', like font-size or line-height
  $result: map-get($size-values, $property);
  // return the result in pixels
  @return $result;
}

@function calc-font-size-px($size-name) {
  $result: _fontset-feature(font-size, $size-name);
  @return ($result * 1) + px;
}

@function calc-font-size-rem($size-name) {
  $result: _fontset-feature(font-size, $size-name);
  @return ($result / 10) + rem;
}

@function calc-line-height($size-name) {
  $result: _fontset-feature(line-height, $size-name);
  @return ($result * 1px);
}

@function calc-font-weight($size-name) {
  @return _fontset-feature(font-weight, $size-name);
}

@function calc-letter-spacing($size-name) {
  @return _fontset-feature(letter-spacing, $size-name);
}

@mixin type($size-name) {
  font-size: calc-font-size-px($size-name);
  font-size: calc-font-size-rem($size-name);
  font-weight: calc-font-weight($size-name);
  line-height: calc-line-height($size-name);
  letter-spacing: calc-letter-spacing($size-name);
}
